.ui.menu {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.ui.menu .item:before {
  background: none;
}

.logo {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}